# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Streamlit cache
.streamlit/

# dotenv files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-specific IDE files
.idea/
*.iml
